.canvasContainer {
  display: flex;
  width: 100%;
  height: 100%;
}

.canvasContainer canvas {
  width: 100%;
  height: 100%;
}

.buttonBlockContainer {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 100;
  padding: 12px;
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  border-radius: 12px;
  max-width: 120px;
}

.buttonBlockContainer p {
  color: #fff;
  font-weight: bold;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-bottom: 4px;
}

.buttonBlockContainerOne {
  position: absolute;
  top: 12px;
  left: 150px;
  z-index: 100;
  padding: 12px;
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  border-radius: 12px;
  max-width: 120px;
}

.buttonBlockContainerOne p {
  color: #fff;
  font-weight: bold;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-bottom: 4px;
}
